# Assignment 3

### Write a function to count the number 4 in a given list.

In [26]:
# I don't fully understand this question
def countfour(list):
  for i in list:
    if i == 4:
      print("Found the number 4 at position {}.".format(list.index(4)))

list = [x for x in range(1,7)]
countfour(list)

Found the number 4 at position 3.

### Write a  function to check whether a number is divisible by another number.

In [ ]:
def divisible(x,y):
  if x % y == 0:
    return True
  else:
    return False

divisible(4, 2)

True

### Write a function to find the maximum and minimum numbers from a sequence of numbers.

In [ ]:
def findminmax(*list):
  max = 0
  min = float("inf")
  for entry in list:
    for num in entry:
      if num > max:
        max = num
      if num < min:
        min = num
  return (min, max)

list = [i for i in range(5,1000)]

findminmax(list)

(5, 999)

### Write a Python function that takes two lists and returns True if they have at least one common member.

In [13]:
def havecommon(list1, list2):
  set1 = set(list1)
  set2 = set(list2)

  set3 = set1.intersection(set2)

  if len(set3) > 0:
    return True
  else:
    return False

list1 = [1,2,3]
list2 = [4,5,6]

havecommon(list1, list2)

False

### Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number from the user

In [16]:
def factorial(num):
  if num == 1:
    return 1
  else:
    return num * factorial(num - 1)

num = input("Please input a +ve integer: ")
num = int(num)

if type(num) == int and num > 0:
  factorial = factorial(num)
  print(factorial)
else: 
  print("Given number is either of negative value or is not an integer.")

Please input a +ve integer: 5
120

### Write a Python function to check whether a number is in a given range.

### The range is from 3 to 11

In [17]:
def inrange(num, min, max):
  if min <= num <= max:
    print("Number {} is within the given range.".format(num))
  else: 
    print("Number {} is not within the given range.".format(num))

inrange(1, 3, 5)
inrange(1, -5, 5)

Number 1 is not within the given range.
Number 1 is within the given range.

### Write a  program to create the multiplication table (from 1 to 10) of a number.

In [18]:
def multitable(num):
  for i in range(1, 11):
    print("{} multiplied {} equals {}.".format(num, i, num*i))

multitable(5)

5 multiplied 1 equals 5.
5 multiplied 2 equals 10.
5 multiplied 3 equals 15.
5 multiplied 4 equals 20.
5 multiplied 5 equals 25.
5 multiplied 6 equals 30.
5 multiplied 7 equals 35.
5 multiplied 8 equals 40.
5 multiplied 9 equals 45.
5 multiplied 10 equals 50.

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [8]:
def lesser_of_two_evens(x, y):
  if x % 2 == 0 and y % 2 == 0:
    if x > y:
      return y
    elif y > x:
      return x
    else:
      return 0
  else:
    if x > y:
      return x
    elif y > x:
      return y
    else:
      return 0

print(lesser_of_two_evens(5, 10))
print(lesser_of_two_evens(10, 20))

10
10

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [7]:
def checkletters(word1, word2):
  if word1[0].lower() == word2[0].lower():
    return True
  else:
    return False

x = input("Please enter a two word name: ")
words = x.split()

if len(words) == 2:
  print(checkletters(words[0], words[1]))
else:
  print("Not a two-word name.")

Please enter a two word name: Levelheaded Llama
True

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [9]:
def makes_twenty(num1, num2):
  if num1 + num2 == 20 or num1 == 20 or num2 == 20:
    return True
  else:
    return False

print(makes_twenty(20,10))
print(makes_twenty(12,8))
print(makes_twenty(2,3))

True
True
False

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [11]:
def almost_there(x):
  if 90 <= x <= 110 or 190 <= x <= 210:
    return True
  else:
    return False

print(almost_there(90))
print(almost_there(104))
print(almost_there(150))
print(almost_there(209))

True
True
False
True

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum  exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [14]:
def blackjack(x, y, z):
  if x in range(1,12) and y in range(1,12) and z in range(1,12):
    sum = x + y + z
    if sum <= 21:
      return sum
    elif sum > 21 and (x == 11 or y == 11 or z == 11):
      return sum - 10
    elif sum > 21:
      return 'BUST!'
  else:
    return 'One or more of the numbers do not fall between 1 and 11, exiting!'

print(blackjack(5, 6, 7))
print(blackjack(9, 9, 9))
print(blackjack(9, 9, 11))
print(blackjack(9, 9, 12))

18
BUST!
19
One or more of the numbers do not fall between 1 and 11, exiting!